@font-face {
    font-family: "YouSheBiaoTiHei";
    src: url("@/assets/font/YouSheBiaoTiHei-Regular.ttf");
}
@font-face {
    font-family: "Source Han Sans CN";
    src: url("@/assets/font/SourceHanSansCN-Regular.otf");
}
@font-face {
    font-family: "D-DIN";
    src: url("@/assets/font/DIN-Medium.otf");
}

@font-face {
    font-family: "D-DIN-Bold";
    src: url("@/assets/font/D-DIN-Bold.otf");
}
@font-face {
    font-family: "D-DIN-Italic";
    src: url("@/assets/font/D-DIN-Italic.otf");
}
@font-face {
    font-family: "D-DIN-Condensed-Bold";
    src: url("@/assets/font/D-DINCondensed-Bold.otf");
}

@font-face {
    font-family: "D-DINEXP-BOLD";
    src: url("@/assets/font/D-DINEXP-BOLD(1).OTF");
}

@font-face {
    font-family: "SourceHanSansCN-Medium";
    src: url("@/assets/font/SourceHanSansCN-Medium.otf");
}

// 
@font-face {
    font-family: "SourceHanSansSC-Normal";
    src: url("@/assets/font/SourceHanSansSC-Normal.otf");
}