
/* 字体 */
$font-family-cn: Source Han Sans CN;//中文字体

$font-family-title-cn:YouSheBiaoTiHei;//中文标题字体

$font-family-number: D-DIN;//数字字体

$font-family-number-bold:D-DIN-Bold;//数字加粗字体

$font-family-number-italic:D-DIN-Italic;//数字加粗字体

$font-family-number-condensed-bold:D-DIN-Condensed-Bold;//数字加粗字体

$font-family-number-subtitle:D-DINEXP-BOLD;

$font-dialog-title-size:18px;

$content-height: 15.1vh




